@use '../../foundation/_variable' as *;
@use '../../foundation/_mixin' as *;

.c-menu__btn {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    font-size: 0;
    margin-left: auto;
    border: none;
    background-color: #f2ede9;;
    cursor: pointer;
    @include mq('pc') {
        display: none;
    }
    span::before {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        background: #707070;
        width: 40px;
        height: 5px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    span::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        background: #707070;
        width: 40px;
        height: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}