.c-backquote {
    background-color: #F5F5F5;
    p {
        box-sizing: border-box;
    }
    cite {
        box-sizing: border-box;
        font-style: normal;
        a {
            color: #4A6C9B;
            text-decoration: underline;
        }
    }
}