@use '../../foundation/_mixin' as *;

.c-column.-single {
    img {
        width: 100%;
        height: 200px;
        @include mq('tab') {
            height: 280px;
        }
        @include mq('pc') {
            height: 350px;
        }
        object-fit: cover;
        object-position: bottom;
    }
}

.c-column.-two {
    max-width: 100%;
    li {
        display: flex;
        align-items: center;
/*      必要に応じて使用側で設定
        margin-bottom: ○○px;
        .image {
            width: ○○%;
        }
        .text {
            width: ○○%;
        }
*/
        /* 奇数の行に対して指定 */
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
/*      必要に応じて使用側で設定
        &:nth-child(even) .text {
            padding-right: ○○px;
        }
        &:nth-child(odd) .text {
            padding-left: ○○px;
        }
*/
    }
}

.c-column.-half {
    width: 80%;
    margin: 0 auto 40px auto;
}