@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #3C2A10;
  font-family: "Roboto", "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  /* bodyとfooterの隙間をなくす */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  display: block;
}

aside {
  display: block;
}

a {
  color: #707070;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

dd {
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button, input, form {
  padding: 0;
  margin: 0;
}

/* マップの定義 */
/* mixinの定義 */
/* マップの定義 */
.l-header {
  width: 100%;
  height: 220px;
  background-color: #FFF7EF;
  text-align: center;
  /* 検索フォーム + ボタン */
}
@media screen and (min-width: 1025px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.l-header__menu-btn {
  font-size: 2.5rem;
  display: block;
  margin-left: auto;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .l-header__menu-btn {
    display: none;
  }
}
.l-header__logo {
  font-size: 4rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 30px;
}
@media screen and (min-width: 1025px) {
  .l-header__logo {
    margin-bottom: 0;
    margin-left: 60px;
    font-size: 6.4rem;
  }
}
.l-header__form {
  width: 100%;
  margin-right: 40px;
}
.l-header__form__wrap {
  position: relative;
  display: inline;
}
.l-header__form__wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  background: url(../../img/search.png) no-repeat;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1025px) {
  .l-header__form {
    text-align: right;
  }
}
.l-header__form__search {
  width: 55%;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-right: 4px;
  text-align: left;
  padding-left: 36px;
  position: relative;
}
.l-header__form__btn {
  width: 15%;
  height: 46px;
  padding-top: 1px;
  /* 検索ボックスと上下合わせるための調整用 */
}

.l-footer {
  font-family: "M PLUS 1p";
  background-image: url(../../img/footer.png);
  height: 200px;
}
.l-footer li {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 2.5rem;
  padding-top: 50px;
  text-align: center;
}
.l-footer address {
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  padding-top: 30px;
}

.l-sidebar__bg {
  /*  グレー背景 + サイドバーが表示時は
      html, bodyにoverflow: hidden; を設定することでスクロール禁止にする
      メニューボタンを押下したタイミングのため、制御はjs  */
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(51, 51, 51, 0.5);
  top: 0;
  transition: width 0.6s;
}
.l-sidebar__bg.open {
  width: 100%;
}

.l-sidebar {
  position: fixed;
  top: 0;
  right: -120%;
  width: 85%;
  height: 100%;
  font-family: "M PLUS 1p";
  overflow-y: scroll;
  background-color: #f2ede9;
  padding-top: 170px;
  z-index: 100;
}
@media screen and (min-width: 600px) {
  .l-sidebar {
    min-width: 360px;
    width: 40%;
  }
}
@media screen and (min-width: 1025px) {
  .l-sidebar {
    padding-top: 80px;
    position: static;
    height: auto;
    right: 0;
    overflow-y: visible;
  }
}
.l-sidebar h2 {
  display: none;
  font-family: "Roboto";
  color: #707070;
}
@media screen and (min-width: 1025px) {
  .l-sidebar h2 {
    display: block;
    font-size: 3rem;
    margin-left: 35px;
    margin-bottom: 85px;
  }
}
.l-sidebar h3 {
  font-size: 2.5rem;
  padding: 30px 0px 0px 35px;
}
.l-sidebar li {
  font-size: 1.8rem;
  font-weight: normal;
  list-style: none;
  line-height: 20px;
  padding: 30px 0px 5px 65px;
}
.l-sidebar.open {
  right: 0;
  transition: right 0.6s;
}

@media screen and (min-width: 1025px) {
  .l-main {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.l-visual {
  width: 100%;
  position: relative;
}
.l-visual h2 {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}
.l-visual__title {
  font-size: 4rem;
  position: absolute;
  top: calc(50% - 4rem);
  left: 6vw;
  line-height: 4rem;
}
.l-visual__title span {
  font-size: 15px;
  vertical-align: top;
}

.l-visual.-front {
  display: flex;
  align-items: center;
  height: 285px;
  padding-left: 25px;
  margin-bottom: 30px;
  background: url("../../img/mainvisual-sp@2x.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  .l-visual.-front {
    background: url("../../img/mainvisual-pc@2x.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .l-visual.-front {
    height: 530px;
  }
}

.l-visual.-archive {
  height: 500px;
  background: url("../../img/page-title_archive-sp.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 600px) {
  .l-visual.-archive {
    height: 285px;
    background: url("../../img/page-title_archive-pc.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (min-width: 1025px) {
  .l-visual.-archive {
    height: 285px;
    background: url("../../img/page-title_archive-pc.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.l-visual.-single {
  height: 285px;
  background: url("../../img/single-sp.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  .l-visual.-single {
    height: 500px;
    background: url("../../img/single-pc.jpg") no-repeat;
    background-position: 60% 50%;
  }
}
@media screen and (min-width: 1025px) {
  .l-visual.-single {
    height: 500px;
    background: url("../../img/single-pc.jpg") no-repeat;
    background-position: center center;
  }
}
.l-visual.-single h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
}

.l-visual.-page {
  height: 285px;
  background: url("../../img/shop-sp.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (min-width: 600px) {
  .l-visual.-page {
    height: 500px;
    background: url("../../img/shop-pc.jpg") no-repeat;
    background-position: center center;
  }
}
@media screen and (min-width: 1025px) {
  .l-visual.-page {
    height: 500px;
    background: url("../../img/shop-pc.jpg") no-repeat;
    background-position: center center;
  }
}
.l-visual.-page h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
}

.l-visual.-layer {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.c-backquote {
  background-color: #F5F5F5;
}
.c-backquote p {
  box-sizing: border-box;
}
.c-backquote cite {
  box-sizing: border-box;
  font-style: normal;
}
.c-backquote cite a {
  color: #4A6C9B;
  text-decoration: underline;
}

.c-code {
  width: 100%;
  font-family: "M PLUS 1p";
  background-color: #F5F5F5;
  margin: 0;
  padding: 50px;
}
.c-code code {
  font-size: 16px;
  line-height: 1.6;
}

.l-header__menu-btn {
  color: #707070;
  border: none;
  /* 枠線を消す */
  outline: none;
  /* クリックしたときに表示される枠線を消す */
  background: transparent;
  /* 背景の灰色を消す */
}
.l-header__form__btn {
  border-radius: 10px;
  border: solid 1px #707070;
  color: #707070;
  background: linear-gradient(#f2ede9 0%, #ded8d3 100%);
  cursor: pointer;
}

.c-menu__btn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  font-size: 0;
  margin-left: auto;
  border: none;
  background-color: #f2ede9;
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .c-menu__btn {
    display: none;
  }
}
.c-menu__btn span::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  background: #707070;
  width: 40px;
  height: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.c-menu__btn span::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  background: #707070;
  width: 40px;
  height: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.c-list {
  width: 100%;
  font-size: 16px;
  padding: 6px;
}
.c-list ol {
  font-family: "M PLUS 1p";
  line-height: 1.6;
  counter-reset: count 0;
}
.c-list ol li {
  list-style: none;
}
.c-list ol li:before {
  content: counter(count) ". ";
  counter-increment: count 1;
}
.c-list ol li ol {
  padding: 30px 20px;
}
.c-list ul {
  font-family: "M PLUS 1p";
  line-height: 1.6;
  padding-top: 60px;
}
.c-list ul li ul {
  padding: 30px 20px;
}

.c-layer {
  position: absolute;
  top: 0;
  left: 0;
}

.c-pagenation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  .c-pagenation {
    justify-content: center;
  }
}
.c-pagenation p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: none;
  padding: 3px 5px;
  margin: 6px;
}
.c-pagenation__page.-page__tab {
  display: none;
}
@media screen and (min-width: 600px) {
  .c-pagenation__page.-page__tab {
    display: flex;
    justify-content: center;
  }
}
.c-pagenation__current {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #707070;
  margin-right: 15px;
  color: #fff;
  background-color: #3C2B1C;
}
.c-pagenation a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #707070;
  margin: 6px;
  padding: 3px 5px;
}
.c-pagenation__pageview {
  display: none;
  margin: 8px;
}
@media screen and (min-width: 600px) {
  .c-pagenation__pageview {
    width: auto;
    display: inline-block;
    white-space: nowrap;
  }
}
.c-pagenation__pagetext {
  margin: 8px;
}
@media screen and (min-width: 600px) {
  .c-pagenation__pagetext {
    display: none;
  }
}
.c-pagenation .prev, .c-pagenation .next {
  border: none;
  width: 80px;
}

.c-table {
  width: 100%;
  padding: 60px 0;
}
.c-table table {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}
.c-table table tr {
  padding: 30px;
}
.c-table table tr th, .c-table table tr td {
  padding: 30px;
  font-weight: 500;
  border: solid 1px;
  text-align: inherit;
}
.c-table table tr .left {
  width: 40%;
}
.c-table table tr .right {
  width: 60%;
}

.c-tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.c-tile__list {
  box-sizing: border-box;
}

.c-column.-single img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: bottom;
}
@media screen and (min-width: 600px) {
  .c-column.-single img {
    height: 280px;
  }
}
@media screen and (min-width: 1025px) {
  .c-column.-single img {
    height: 350px;
  }
}

.c-column.-two {
  max-width: 100%;
}
.c-column.-two li {
  display: flex;
  align-items: center;
  /*      必要に応じて使用側で設定
          margin-bottom: ○○px;
          .image {
              width: ○○%;
          }
          .text {
              width: ○○%;
          }
  */
  /* 奇数の行に対して指定 */
  /*      必要に応じて使用側で設定
          &:nth-child(even) .text {
              padding-right: ○○px;
          }
          &:nth-child(odd) .text {
              padding-left: ○○px;
          }
  */
}
.c-column.-two li:nth-child(even) {
  flex-direction: row-reverse;
}

.c-column.-half {
  width: 80%;
  margin: 0 auto 40px auto;
}

.p-card {
  padding: 0 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 600px) {
  .p-card {
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
  }
}
.p-card__list {
  padding: 3%;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .p-card__list {
    width: 45%;
  }
}
.p-card__list h2 {
  font-size: 4.4rem;
  font-weight: bold;
  color: #fff;
  position: relative;
  margin-bottom: 200px;
}
.p-card__list h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  background: #fff;
  bottom: -18px;
  left: 0;
}
.p-card__list dl {
  background: #fff;
  opacity: 0.8;
  padding: 3% 3% 9% 3%;
  margin-bottom: 3%;
}
.p-card__list dl dt {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.p-card__list.-takeout {
  background: url(../../../img/takeout.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.p-card__list.-eatin {
  background: url(../../../img/eatin.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

.wrap {
  width: 100%;
  padding: 40px;
}
.wrap__title h2 {
  font-weight: bold;
}
.wrap__title p {
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrap__menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .wrap__menu__list {
    flex-direction: row;
  }
}
.wrap__menu__list img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media screen and (min-width: 600px) {
  .wrap__menu__list img {
    width: 50%;
  }
}
.wrap__menu__list__detail {
  background-color: #3C2B1C;
  color: #fff;
}
.wrap__menu__list__detail h2 {
  padding: 30px;
}
.wrap__menu__list__detail h3 {
  padding-left: 30px;
}
.wrap__menu__list__detail p {
  font-size: 12px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.wrap__menu__list__detail__btn {
  text-align: center;
}
.wrap__menu__list__detail__btn button {
  font-size: 12px;
  padding: 20px 60px;
  border-radius: 30px;
  margin-bottom: 40px;
}

.p-access {
  position: relative;
  width: 100%;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: calc(20px + 3%);
  padding-right: calc(20px + 3%);
}
@media screen and (min-width: 1025px) {
  .p-access {
    padding-left: 0;
    padding-right: 0;
  }
}
.p-access iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.p-access .c-layer.-rear {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -2;
}
.p-access .c-layer.-front {
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
@media screen and (min-width: 600px) {
  .p-access .c-layer.-front {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access .c-layer.-front {
    width: 60%;
  }
}
.p-access__text {
  font-size: 1.4rem;
  line-height: 2;
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    width: 60%;
    padding: 1%;
  }
}
.p-access__text h2 {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.p-access__text h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: #fff;
  bottom: -18px;
  left: 0;
}

.posted {
  font-family: "M PLUS 1p";
  font-size: 1.4rem;
  line-height: 2;
  margin: 0 40px;
}
@media screen and (min-width: 1025px) {
  .posted {
    width: 90%;
  }
}
.posted__title {
  margin: 30px 0px;
}
.posted__title h2 {
  margin-bottom: 30px;
  font-size: 3.6rem;
  font-weight: 600;
}
.posted__title h3 {
  font-size: 3.2rem;
  font-weight: 600;
}
.posted__title h4, .posted__title h5, .posted__title h6 {
  font-size: 2.8rem;
  font-weight: 600;
}
.posted .c-backquote {
  margin-bottom: 30px;
  padding: 50px;
}
.posted .c-backquote p {
  padding-bottom: 50px;
}
.posted .c-column li {
  margin-bottom: 40px;
}
.posted .c-column li .image {
  width: 45%;
}
.posted .c-column li .text {
  width: 55%;
}
.posted .c-column li:nth-child(even) .text {
  padding-right: 10px;
}
.posted .c-column li:nth-child(odd) .text {
  padding-left: 10px;
}
.posted .c-tile__list {
  margin: 10px 0 10px 0;
}
@media screen and (min-width: 600px) {
  .posted .c-tile__list {
    width: calc((100% - 20px) / 2);
  }
  .posted .c-tile__list:nth-child(2n) {
    margin: 0 10px 0 10px;
  }
}
@media screen and (min-width: 1025px) {
  .posted .c-tile__list {
    width: calc((100% - 20px) / 3);
  }
  .posted .c-tile__list:nth-child(2n) {
    margin: 0;
  }
  .posted .c-tile__list:nth-child(3n+2) {
    margin: 0 10px 0 10px;
  }
}
.posted__btn {
  width: 100%;
  padding-bottom: 60px;
}
.posted__btn button {
  background-color: #F2EDE9;
  border: solid 1px;
  border-radius: 30px;
}
.posted__btn button a {
  display: block;
  width: 430px;
  color: #3C2A10;
  font-size: 16px;
  font-weight: bold;
  line-height: 100px;
}
.posted__text {
  width: 100%;
  margin-bottom: 300px;
}
.posted__text p {
  font-size: 20px;
  font-weight: bold;
}