@use '../../foundation/_mixin' as *;

.p-card {
    padding: 0 20px;
    margin-bottom: 60px;
    @include mq('tab') {
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
    }
    &__list {
        padding: 3%;
        margin-bottom: 10px;
        width: 100%;
        @include mq('tab') {
            width: 45%;
        }
    }

    &__list h2 {
        font-size: 4.4rem;
        font-weight: bold;
        color: #fff;
        position: relative;
        margin-bottom: 200px;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 35px;
            height: 3px;
            background: #fff;
            bottom: -18px;
            left: 0;
        }
    }

    &__list dl {
        background: #fff;
        opacity: 0.8;
        padding: 3% 3% 9% 3%;
        margin-bottom: 3%;
        dt {
            font-size: 2.2rem;
            margin-bottom: 20px;
        }
    }

    &__list.-takeout {
        background: url(../../img/takeout.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__list.-eatin {
        background: url(../../img/eatin.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
