@use '../../foundation/_variable' as *;
@use '../../foundation/_mixin' as *;

.posted {
    font-family: 'M PLUS 1p';
    font-size: 1.4rem;
    line-height: 2;
    margin: 0 40px;
    @include mq('pc') {
        width: 90%;
    }
    p {
        margin-bottom: 34px;
    }
    
    h2 {
        margin-bottom: 30px;
        font-size: 3.6rem;
        font-weight: 600;
    }
    h3 {
        font-size: 3.2rem;
        font-weight: 600;
    }
    h4, h5, h6 {
        font-size: 2.8rem;
        font-weight: 600;
    }
    blockquote {
        font-family: "M PLUS 1p";
        background: #F5F5F5;
        margin-bottom: 30px;
        padding: 50px;
    }
    ul {
        padding-inline-start: 40px;
    }
    ul li {
        list-style-type: none;
    }
    ol li {
        list-style-type: decimal;
    }
    code {
        background: #F5F5F5;
        font-size: inherit;
    }
    table, tr, th, td {
        border:1px #999 solid;
        border-collapse: collapse;
    }
}
